.hello{
   width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation: myfirst 5s 1;
  animation-direction: right;
left: 20%;
}



@keyframes myfirst {
 from {left: 0px;}
  to {left: 20%;}
}
.n{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 10px 0;
  background-color: rgba(79, 124, 186, 0.809);
}

.icon:hover{
transform:scaleX(-1)
}



@media screen and (max-width:992px) {
    .foot-page{
        display: block;
    }
}
